mat-grid-tile {
    box-sizing: inherit;
    border-color: none;
    border: none;
  }

  .grid {
       margin: 80px;
  }

  .title {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #539AE1;
    font-weight: bold;
    font-size: 40px;
  }

  .card {
      background-color: #FFFFFF;
  }

  /* The hero image */
  .heroHome {

  /* Position and center the image to scale nicely on all screens */
  
  background-color: #1976D2;
  text-align: center;
  position: static;
  padding: 0px 30px;
  color: white;
}

.text1{
  background: lightblue;
    box-sizing: inherit;
    border-color: none;
    background-color: #1976D2;
    text-align: left;
  }

  .text2{
    background: lightblue;
      box-sizing: inherit;
      border-color: none;
      background-color: #1976D2;
      text-align: right;
    }

    
.title-card {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #539AE1;
  font-weight: bold;
  font-size: 30px;
}

textarea { 
border-style: none; 
border-color: Transparent; 
overflow: auto;
padding-left: 10px;
      
}

.text-card {
text-align: justify;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #539AE1;
  font-weight: lighter;
  font-size: 10px;
}

mat-card img{
  object-fit: cover;
  width: 100%; 
  height: 80%;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


#main {
  min-height: 100px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
}

#main > col1 {
  min-height: 130px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}

@media all and (max-width: 640px) {
  #main, #page {
      flex-direction: column;
  }


  #main > col1 {
      min-height: 60px;
      max-height: 50px;
  }
}