


<div class="grid">
    <p class="title">Oportunidades</p>
    <div class="container" >
      <mat-grid-list  cols="3" rowHeight="3:2">
        <mat-grid-tile class="card" >
          <div fxLayout="row" fxLayoutAlign="space-around center">
                  <mat-card class="school-card">
                  <mat-card-header >
                      <mat-card-title class="title-card" >Header</mat-card-title>
                  </mat-card-header>
                  <mat-card-content>
                    <div id='main'>
                      <div id='col1'>
                          <img  src="../../assets/images/balloon.png" alt="cardImage" >
                      </div>
                      <textarea rows="3" cols="40" class="text-card"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet.
                      </textarea>
                    </div>
                  </mat-card-content>
                  </mat-card>
            </div>
        </mat-grid-tile>
        <mat-grid-tile >
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <mat-card class="school-card">
                <mat-card-header >
                    <mat-card-title class="title-card" >Header</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div id='main'>
                    <div id='col1'>
                        <img  src="../../assets/images/balloon.png" alt="cardImage" >
                    </div>
                    <textarea rows="3" cols="40" class="text-card"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet.
                    </textarea>
                  </div>
                </mat-card-content>
                </mat-card>
          </div>
        </mat-grid-tile>
        <mat-grid-tile >
            <div fxLayout="row" fxLayoutAlign="space-around center">
                <mat-card class="school-card">
                <mat-card-header >
                    <mat-card-title class="title-card" >Header</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div id='main'>
                    <div id='col1'>
                        <img  src="../../assets/images/balloon.png" alt="cardImage" >
                    </div>
                    <textarea rows="3" cols="40" class="text-card"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet.
                    </textarea>
                  </div>
                </mat-card-content>
                </mat-card>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      
    </div>
  </div>

  <div>
    <div>
        <mat-grid-list  class="heroHome" cols="2" rowHeight="4:1">
            <mat-grid-tile class="text1">
              <p>Lorem ipsum dolor sit amet, 
                <br>consectetur adipiscing elit. Suspendisse 
                <br>imperdiet eget Diam 
                <br>id consequat. In condimentum urna ac 
                <br>lectus efficitur semper. Morbi ultricies</p>
            </mat-grid-tile>
            <mat-grid-tile class="text2">
              <p>
                <br>Lorem ipsum dolor sit amet,
                <br> consectetur adipiscing elit.
                <br> Suspendisse imperdiet eget Diam id consequat.
                <br> In condimentum urna ac lectus efficitur 
                <br> semper. Morbi ultricies
              </p>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
  </div>
  
  <div class="grid">
      <div class="container" >
        <mat-grid-list  cols="4" rowHeight="2:1">
          <mat-grid-tile>
              <img src="../../assets/images/1.jpeg" alt="homeImage">
          </mat-grid-tile>
          <mat-grid-tile >
              <img src="../../assets/images/2.jpeg" alt="homeImage">
          </mat-grid-tile>
          <mat-grid-tile >
            <img src="../../assets/images/3.jpeg" alt="homeImage"></mat-grid-tile>
          <mat-grid-tile>
            <img src="../../assets/images/4.jpeg" alt="homeImage">
          </mat-grid-tile>
        </mat-grid-list>
        
      </div>
    </div>