


<div class="grid">
    <p class="title">Oportunidades</p>
    <div class="container" >
      <mat-grid-list  cols="3" rowHeight="2:1">
        <mat-grid-tile class="card" >
          <div>
              <!-- <mat-card>Simple card</mat-card> -->
          </div>
        </mat-grid-tile>
        <mat-grid-tile >2</mat-grid-tile>
        <mat-grid-tile >3</mat-grid-tile>
      </mat-grid-list>
      
    </div>
  </div>

  <div>
    <div>
        <mat-grid-list  class="heroHome" cols="2" rowHeight="4:1">
            <mat-grid-tile class="text1">
              <p>Lorem ipsum dolor sit amet, 
                <br>consectetur adipiscing elit. Suspendisse 
                <br>imperdiet eget Diam 
                <br>id consequat. In condimentum urna ac 
                <br>lectus efficitur semper. Morbi ultricies</p>
            </mat-grid-tile>
            <mat-grid-tile class="text2">
              <p>
                <br>Lorem ipsum dolor sit amet,
                <br> consectetur adipiscing elit.
                <br> Suspendisse imperdiet eget Diam id consequat.
                <br> In condimentum urna ac lectus efficitur 
                <br> semper. Morbi ultricies
              </p>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
  </div>
  
  <div class="grid">
      <p class="title">Oportunidades</p>
      <div class="container" >
        <mat-grid-list  cols="4" rowHeight="2:1">
          <mat-grid-tile>
              <img src="../../assets/images/1.jpeg" alt="homeImage">
          </mat-grid-tile>
          <mat-grid-tile >
              <img src="../../assets/images/2.jpeg" alt="homeImage">
          </mat-grid-tile>
          <mat-grid-tile >
            <img src="../../assets/images/3.jpeg" alt="homeImage"></mat-grid-tile>
          <mat-grid-tile>
            <img src="../../assets/images/4.jpeg" alt="homeImage">
          </mat-grid-tile>
        </mat-grid-list>
        
      </div>
    </div>