<div fxLayout="column" fxLayoutAlign="end start" class="imagen" fxFlex="70">
  <div fxLayout="row" fxLayoutAlign="center start" fxFlexOffset="10">
    <div fxLayout="column" fxLayoutAlign="end start" fxFlex="80" fxFlexOffset="10" [ngStyle]="{'margin-bottom':'8%'}">
      <h1>Bienvenido(a) a Wayuu</h1>
      <p>Unete a la mejor red de tennis de Bogotá con presencia en Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <button mat-raised-button color="primary" [routerLink]="['/register']">Regístrate</button>
    </div>
  </div>
</div>
<div fxLayout="column" fxLayoutAlign="center stretch" class="formulario" fxFlex="30">
  <form #loginForm="ngForm">
    <div fxLayout="row" fxLayoutAlign="center stretch">
      <img src="../../assets/images/58832_300x300.jpg" width="30%" alt="">
    </div>
    <div fxLayout="row" fxLayoutAlign="center stretch">
      <mat-form-field appearance="outline">
        <mat-label>Usuario</mat-label>
        <input matInput type="email" name="user" #user="ngModel" [(ngModel)]="login.user">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="center stretch">
      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput type="text" name="password" #password="ngModel" [(ngModel)]="login.Password">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="center stretch">
      <button mat-raised-button color="primary">Iniciar sesión</button>
    </div>
  </form>
</div>
