


<div class="grid">
  <p class="title">Escuelas</p>
  <div class="container" >
    <mat-grid-list  cols="3" rowHeight="3:2">
      <mat-grid-tile   class="card" >
          <div fxLayout="row" fxLayoutAlign="space-around center">
              <mat-card class="school-card">
              <mat-card-header >
                  <mat-card-title class="title-card" >Header</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div id='main'>
                  <div id='col1'>
                      <img  src="../../assets/images/balloon.png" alt="cardImage" >
                  </div>
                  <textarea rows="3" cols="40" class="text-card"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet.
                  </textarea>
                </div>
              </mat-card-content>
              </mat-card>
          </div>
      </mat-grid-tile>
      <mat-grid-tile class="card" >
          <div fxLayout="row" fxLayoutAlign="space-around center">
              <mat-card class="school-card">
              <mat-card-header class="title-card">
                  <mat-card-title class="title-card">Header</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div id='main'>
                  <div id='col1'>
                      <img  src="../../assets/images/balloon.png" alt="cardImage" >
                  </div>
                  <textarea rows="3" cols="40" class="text-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </textarea>
                </div>
              </mat-card-content>
              </mat-card>
          </div>
      </mat-grid-tile>
      <mat-grid-tile  class="card"><div fxLayout="row" fxLayoutAlign="space-around center">
          <mat-card class="school-card">
          <mat-card-header class="title-card">
              <mat-card-title class="title-card">Header</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div id='main'>
              <div id='col1'>
                  <img  src="../../assets/images/balloon.png" alt="cardImage" >
              </div>
              <textarea rows="3" cols="40" class="text-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </textarea>
            </div>
          </mat-card-content>
          </mat-card>
      </div>
    </mat-grid-tile>
      <mat-grid-tile  class="card">
          <div fxLayout="row" fxLayoutAlign="space-around center">
              <mat-card class="school-card">
              <mat-card-header class="title-card">
                  <mat-card-title class="title-card">Header</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div id='main'>
                  <div id='col1'>
                      <img  src="../../assets/images/balloon.png" alt="cardImage" >
                  </div>
                  <textarea rows="3" cols="40" class="text-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </textarea>
                </div>
              </mat-card-content>
              </mat-card>
          </div>
      </mat-grid-tile>
      <mat-grid-tile  class="card">
          <div fxLayout="row" fxLayoutAlign="space-around center">
              <mat-card class="school-card">
              <mat-card-header class="title-card">
                  <mat-card-title class="title-card">Header</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div id='main'>
                  <div id='col1'>
                      <img  src="../../assets/images/balloon.png" alt="cardImage" >
                  </div>
                  <textarea rows="3" cols="40" class="text-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </textarea>
                </div>
              </mat-card-content>
              </mat-card>
          </div>
      </mat-grid-tile>
      <mat-grid-tile class="card" >
          <div fxLayout="row" fxLayoutAlign="space-around center">
              <mat-card class="school-card">
              <mat-card-header class="title-card">
                  <mat-card-title class="title-card">Header</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <div id='main'>
                  <div id='col1'>
                      <img  src="../../assets/images/balloon.png" alt="cardImage" >
                  </div>
                  <textarea rows="3" cols="40" class="text-card">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  </textarea>
                </div>
              </mat-card-content>
              </mat-card>
          </div>
      </mat-grid-tile>
    </mat-grid-list>
    
  </div>
</div>
 
 