<mat-toolbar class="navbar navbar-expand-lg navbar-dark p-2" color="primary">
    <a class="navbar-brand" href="#" mat-button>Wayuu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation" (click)="openToolbar()" mat-button>
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01" [ngClass]="{show: showToolbar}">
    
      <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#" mat-button>Home </a>
          <a class="nav-item nav-link" href="#" mat-button>Features</a>
          <a class="nav-item nav-link" href="#" mat-button>Pricing</a>
          
        </div>
    
  </div>
</mat-toolbar>